.image-container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.image {
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: red;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.close-button:hover {
  background-color: darkred;
}
